%h1 Listing comments

%table
  %tr
    %th Comment
    %th User
  - @comments.each do |comment|
    %tr
      %td= h comment.comment
      %td= h comment.user_id
        
      %td= link_to 'Show', object_url(comment)
      %td= link_to 'Edit', edit_object_url(comment)
      %td= link_to 'Destroy', object_url(comment), :confirm => 'Are you sure?', :method => :delete

%br/

=link_to 'New comment', new_object_url
=(link_to 'Back', parent_object) if parent_object