%h1 Listando Items FAQ
= link_to "<h2>Inserir nova pergunta</h2>", new_faq_adm_url 
= link_to "<h2>Inserir nova categoria</h2>", new_faq_category_url 

- if @faqs.empty?
%p There are no items to display.
- else
%table
  %tr
    %th Categoria
    %th Pergunta
    %th Ação
  - @faqs.each do |faq|
  %tr
    %td
      = link_to(faq.faq_category.name, edit_faq_adm_path(faq))
    %td
      = link_to(truncate(faq.question, 200), edit_faq_adm_path(faq))
    %td
      = link_to "Editar", edit_faq_adm_path(faq) 
      | 
      = link_to "Apagar", faq_adm_path(faq), :method => :delete, :confirm => 'Você tem certeza?'
  - end
- end


%p
  