
<div class='study_case_actions'>
  <h1>Você pode:</h1>
  <% if logged_in? %>
    <div><%= link_image_study_case_edit(edit_object_path, 'Editar descrição deste estudo')%></div>
  <% end %> 
  <div><%= link_to image_tag('pages.png', :title => 'Páginas do Estudo de Caso', :alt => 'Páginas do Estudo de Caso')+" Visualizar Páginas (#{@study_case.pages.size})", study_case_pages_path(@study_case)%></div>
  
  <%= link_to_remote image_tag('comment_add.png', :alt => 'Comentários ', :title => 'Comentários')+" Ler/Deixar Comentários (#{@study_case.comments.size})", 
	:update => "study_case_comment_id_#{@study_case.id}",
	:url => { 
	  :controller=> :comments,
	  :action => :index, 
	  :commentary_type => @study_case.class, 
	  :commentary_id => @study_case.id, 
	  :study_case_id => @study_case.id
	},
	:method => :get,
	:before   => %(Element.show("spinner_comments_#{@study_case.id}");
	 Effect.Appear("study_case_comment_id_#{@study_case.id}", {duration : 1.0})),
 	:success  => %(Element.hide("spinner_comments_#{@study_case.id}"))
	%>
	<%= image_tag 'spinner.gif',:class=> 'spinner', :id => "spinner_comments_#{@study_case.id}", :style => 'display: none' %>
</div>
<div id='study_case_comment_id_<%=@study_case.id%>' style='display:none'></div>   
<h1><%=h @study_case.name %></h1> 
<p>
  <%=h @study_case.description %>
</p>
  



  

<br>

<!-- <p><%= link_to 'Inserir evento', study_case_events_url(@study_case)%></p> -->
<br>
<%= link_image_back(collection_url)%>