<% content_for :custom_js_imports do%>
	<%= javascript_include_tag 'datepicker' %>
	<%= javascript_include_tag 'prototype-date-extensions' %>
	
	
<% end %>
<p>
  <label for="event_title">Title:</label>
  <%= f.text_field :title %>
</p>
<p>
  <label for="event_start_date">Data início:</label>
  <%= f.text_field :start_date, {:readonly => true, :class=>'datepicker' } %>

</p>
<p>
  <label for="event_end_date">Data fim (opcional):</label>
  <%= f.text_field :end_date, {:readonly => true, :class=>'datepicker' 	} %>

</p>
<p>
  <label for="event_description">Description:</label>
  <%= f.text_area :description %>
</p>
  <%= f.hidden_field :user_id , :value => @event.user_id.nil? ? (session[:user_id]) : @event.user_id%>
  <%= f.hidden_field :study_case_id %>


<script language="JavaScript">
	var picker = new Control.DatePicker('event_start_date');
	var picker2 = new Control.DatePicker('event_end_date');
</script>