<p>
  <h1> 
    <a href='<%=show_permalink(@page)%>' title='<%=@page.title %>'> <%= @page.title%>
    </a>
    <%= (link_image_page_edit(" ", edit_study_case_page_path(parent_object, @page))) if current_user  %>
  </h1> 
</p>
<p>
  <%= @page.content %>
</p>
</br>

<%= link_image_back collection_url %>