<% content_for :custom_imports do %>
	<%= stylesheet_link_tag "faq" %>
<% end%>
<h1><%= @category.name.camelize %><small> (clique na pergunta para visualizar a resposta)</small></h1>
<%= %>
<% @faqs.each do |faq|%>
<p class="faq_list" >
	<div class="faq-question" >
		<a href="javascript:void(0);" onclick="Element.toggle('answer_id_<%=faq.id %>');Element.toggle('answer_id_slice_<%=faq.id %>') "><%= faq.question%></a>
		<span class="faq-comments-actions" id="faq_comment_<%=faq.id%>">
			<%= link_to_remote "Comentários &raquo; (#{faq.comments.size})", 
			:update => "faq_comment_id_#{faq.id}",
			:url => { 
			  :controller=> :comments,
			  :action => :index, 
			  :commentary_type => faq.class, 
			  :commentary_id => faq.id, 
			  :faq_id => faq.id
			},
			:method => :get,
			:before   => %(Element.show("spinner_comments_#{faq.id}"), Element.toggle('faq_comment_id_#{faq.id}')),
		 	:success  => %(Element.hide("spinner_comments_#{faq.id}"))
			%>
			<%= image_tag 'spinner.gif',:class=> 'spinner', :id => "spinner_comments_#{faq.id}", :style => 'display: none' %>
		</span>
		<div class="faq-comments" style="display:none" id="faq_comment_id_<%=faq.id%>">
		</div>
		<div class="faq-comments" style="display:block;" id="form_faq_comment_id_<%=faq.id%>">
		</div>
		<div class="faq-answer" id="answer_id_slice_<%=faq.id%>"><%= faq.answer[0..300] %>
			<% if faq.answer.size > 300 %>
				 <span class="faq-readmore" onclick="Element.toggle('answer_id_<%=faq.id %>');Element.toggle('answer_id_slice_<%=faq.id %>') ">(clique para ler mais)</strong>
			<% end %>
		</div>
	</div>
	<div class="faq-answer" style="display:none;" id="answer_id_<%=faq.id%>" onclick="Element.hide('answer_id_<%=faq.id %>'); Element.show('answer_id_slice_<%=faq.id %>')">
		<%= faq.answer %>
		
	</div>
	
</p>
<% end%>
