<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title><%= yield :custom_title %> Portal de Estudos de Caso</title>
<%= stylesheet_link_tag "default"%>
<%= stylesheet_link_tag 'ec' %>
<%= javascript_include_tag :defaults %>
<%= yield :custom_imports %>
</head>

<body <%= yield :custom_js_events_for_body%> >
	<div class="global-wrapper">
		<div class="fixed">
			<div class="banner">
				<div class="upper-menu">
					<div class="border-tleft">
						<div class="border-tright"></div>
					</div>
					<div class="upper-menu-content">
						<img src="/images/menu_top.jpg" alt="" />
					</div>
					<div class="border-bleft">
						<div class="border-bright"></div>
					</div>
				</div>
				<img src="/images/logo.png" alt="" />
			</div>
			
			<a href='/faq'><div class="top-<%= params[:controller]%>"></div></a>
			<div class="content-wrapper">
				<div id="sidebar_left">
					<div class="<%= params[:controller]%>-menu">
						<%= render :partial => "layouts/#{params[:controller]}menu" %>
						<div class="<%= params[:controller]%>-menu-footer"></div>
					</div>
					<div class="ec-menu"><a href="#"><img src="/images/bt_ec.jpg" alt="" /></a></div>
					<div class="metafora-menu"></div>
					<div class="ft-menu"></div>
				</div>
				<div id="content">
					<%= yield %>				
				</div>
				<div class="content-footer">
					<div class="border-bright">
						<div class="border-bleft">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>
