<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title><%= yield :custom_title %> Portal de Estudos de Caso</title>
  <%= stylesheet_link_tag "default"%>
  <%= stylesheet_link_tag 'ec' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'growl'%>
  <%= yield :custom_imports %>
  
  <%= growl_notification  %>
</head>

<body <%= yield :custom_js_events_for_body%> >
	<div class="global-wrapper">
		<div class="fixed">
			<div class="banner">
				<div class="upper-menu">
					<div class="border-tleft">
						<div class="border-tright"></div>
					</div>
					<div class="upper-menu-content">
						<div class="banner-menu">
		                    <div class="border-left">
		                        <div class="border-right">
		                            <%= render :partial => 'layouts/top_menu'%>
		                        </div>
		                    </div>
		                </div>
					</div>
					<div class="border-bleft">
						<div class="border-bright"></div>
					</div>
				</div>
				
				
				<a href='/'><img src="/images/logo.png" alt="home" /></a>
				
				<div class="">
            <div class="promo"></div>
            <div class="promo-menu">
                <div class="green">
                    <h1><a href="#">Décio Tatizana</a></h1> 
                    <p>Metáfora UCA<p>
                </div>
                <div class="purple">
                    <h1>
                      <%= link_to 'Piloto UCA', faq_index_path %>
                    </h1>
                    <p>Perguntas e respostas<p>
                </div>
                <div class="blue">
                    <h1><a href="#">Léa Fagundes</a></h1>
                    <p>Estudos de Casos<p>
                </div>
            </div>
        </div>
				<div class="content-wrapper">
				  
					<%= yield %>
				</div>
			</div>
			<div class="footer-box">
          <div class="border-tleft"><div class="border-tright"></div></div>
          <div class="content">

          </div>
          <div class="border-bleft"><div class="border-bright"></div></div>
      </div>
		</div>
	</div>


</body>
</html>
